<section class="w3l-contact-1">
  <div class="contacts-9 section-gap">
    <div class="wrapper">
      <h3 class="global-title text-center">Contact us</h3>
      <div class="d-grid contact-view">
        <div class="cont-details">
          <div class="cont-top">
            <div class="cont-left text-center">
              <span class="fa fa-phone"></span>
            </div>
            <div class="cont-right">
              <h6>Call Us</h6>
              <p><a href="tel:+972 503955900">+972 503955900</a></p>
            </div>
          </div>
          <div class="cont-top margin-up">
            <div class="cont-left text-center">
              <span class="fa fa-envelope-o"></span>
            </div>
            <div class="cont-right">
              <h6>Email Us</h6>
              <p><a href="mailto:fuadsami5@gmail.com" class="mail">fuadsami5@gmail.com</a></p>
            </div>
          </div>
          <div class="cont-top margin-up">
            <div class="cont-left text-center">
              <span class="fa fa-map-marker"></span>
            </div>
            <div class="cont-right">
              <h6>Address</h6>
              <p>Lod, Israel</p>
            </div>
          </div>
        </div>
       
        
        <div class="limiter" >
          <div class="container-login100">
            <div class="wrap-login100">
              <div class="login100-form validate-form p-l-55 p-r-55 p-t-140">
                <span class="login100-form-title">
                 
                </span>
                <div class="form-group">
                  <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" placeholder="contact Name" [(ngModel)]="formDetails.contactName">
                    <span class="focus-input100"></span>
                  </div>
                </div>
        
                <div class="form-group">
                  <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" placeholder="contact Email" [(ngModel)]="formDetails.contactEmail">
                    <span class="focus-input100"></span>
                  </div>
                </div>
        
                <div class="form-group">
                  <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" placeholder="subject" [(ngModel)]="formDetails.subject">
                    <span class="focus-input100"></span>
                  </div>
                </div>
        
                <div class="form-group">
                  <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" placeholder="message" [(ngModel)]="formDetails.message">
                    <span class="focus-input100"></span>
                  </div>
                </div>

                <div class="container-login100-form-btn m-b-16">
                  <button *ngIf="!showSpinner" class="login100-form-btn" [hidden]="!outboundClick "
                    (click)="outboundClick = !outboundClick " (click)="submit()"> Submit </button>
        
                  <button *ngIf="showSpinner" class="login100-form-btn" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        

      </div>
    </div>
  </div>
</section>