.navbar-brand {
    padding: 0px;
}

.navbar {
    width: 100%;
    top: 0;
    z-index: 15;
}

ul li {
    padding: 0px;
    list-style-type: none;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-image-coupon {
    width: 20px;
    height: 20px;
}

.coupon-dropdown ul {
    padding: 0;
    margin-left: 5px;
}

.dropdown-title-coupon {
    margin-left: 5px;
}

.dropdown-title-price {
    /* float: right; */
    margin-left: 10px;
}

.dropdown-total-price {
    margin-left: 20px;
}

.dropdown-menu {
    min-width: 250px;
    left: auto;
    right: -70px;
    top: 40px;
}

.badge-primary {
    margin-right: 5px;
}

.checkoutButton {
    margin-left: 85px;
    margin-top: 10px;
    padding: inherit;
}

.nav-link {
    cursor: pointer;
}

.myXButton{
    margin-left: 15px;
    cursor: pointer;
}