<!-- content -->
<div class="container-fluid content-top-gap">
    <!-- User data -->

    <div class="statistics">
        <div class="row">

                    <div class="col-sm-4 statistics-grid">
                        <div class="card card_border border-primary-top p-4" routerLink="/customer/home">
                            <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                            <h3 class="text-dark number">Home</h3>
                            <p class="stat-text">View all coupons</p>
                        </div>
                    </div>
                    <div class="col-sm-4 statistics-grid">
                        <div class="card card_border border-primary-top p-4" routerLink="/customer/cart">
                            <i style="font-size: 3em; color : #343a40;" class="fa fa-credit-card"> </i>
                            <h3 class="text-dark number">My Cart</h3>
                            <p class="stat-text">View my carts</p>
                        </div>
                    </div>
                    <div class="col-sm-4 statistics-grid">
                        <div class="card card_border border-primary-top p-4" routerLink="/customer/coupons">
                            <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                            <h3 class="text-dark number">My Coupons</h3>
                            <p class="stat-text">View History Coupon that i purchase</p>
                        </div>
                    </div>

        </div>
    </div>

    <!-- //statistics data -->
</div>
<!-- //content -->


<router-outlet></router-outlet>