<div class="limiter" >
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form validate-form p-l-55 p-r-55 p-t-140">
        <span class="login100-form-title">
          Add New Company
        </span>
        <div class="form-group">
          <div class="wrap-input100 validate-input m-b-16">
            <input class="input100" type="text" placeholder="Company Name" [(ngModel)]="formDetails.compName">
            <span class="focus-input100"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="wrap-input100 validate-input m-b-16">
            <input class="input100" type="password" name="password" placeholder="Password" id="password"
              [(ngModel)]="formDetails.password">
            <span class="focus-input100"></span>
          </div>
        </div>

        <div class="form-group">
          <div class="wrap-input100 validate-input m-b-16">
            <input class="input100" type="email" placeholder="example@example.com"
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="formDetails.email">
            <span class="focus-input100"></span>
          </div>
        </div>


        <div class="container-login100-form-btn m-b-16">
          <button *ngIf="!showSpinner" class="login100-form-btn" [hidden]="!outboundClick "
            (click)="outboundClick = !outboundClick " (click)="submit()"> Submit </button>

          <button *ngIf="showSpinner" class="login100-form-btn" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
