<!-- content -->
<div class="container-fluid content-top-gap">
    <!-- User data -->

    <div class="statistics">
        <div class="row">

                 
                    <div class="col-sm-6 statistics-grid">
                        <div class="card card_border border-primary-top p-4" routerLink="/company/coupons">
                            <i style="font-size: 3em; color : #343a40;" class="fa fa-credit-card"> </i>
                            <h3 class="text-dark number">Our Coupons</h3>
                            <p class="stat-text">View Our Coupons details</p>
                        </div>
                    </div>
                    <div class="col-sm-6 statistics-grid">
                        <div class="card card_border border-primary-top p-4" routerLink="/company/addcoupon">
                            <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                            <h3 class="text-dark number">Create Coupon</h3>
                            <p class="stat-text">New Coupon</p>
                        </div>
                    </div>
        </div>
    </div>

    <!-- //statistics data -->
</div>
<!-- //content -->


<router-outlet></router-outlet>